html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

nav {
    display: grid;
    background: #004e63;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 12px 0px rgb(0 0 0 / 60%);
  }

  .mainView {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1px;
    align-items: center;
  }
  
  nav img {
    height: 80px;
    width: auto;
    margin-left: 80px;
  }
  
  .navbar-links {
    justify-self: center;
    margin-top: 15px;
  }
  
  .navbar-links ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  
  .vl {
    border-left: 3px solid white;
  }
  
  li {
    list-style: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-buttons {
    justify-self: end;
    margin-right: 20px;
  }
  
  button {
    width: 130px;
    height: 50px;
    border-radius: 30px;
    color: white;
    border: 3px solid white;
    background: #004e63;
    font-weight: bold;
  }

  .signup-button {
    margin-left: 8px;
  }
  
  button:hover, button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
  
  li:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white;
  }

  .mobileView {
    display: none;
  }

  @media only screen and (max-width: 900px){
    .mainView {
      grid-template-columns: 18% auto auto 1px;
    }

    nav img {
      margin-left: 40px;
    }

    .signup-button {
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 800px){
    .mainView {
      display: none;
    }

    .mobileView {
      display: inline;
    }

    .mobileView img {
      margin-top: 10px;
    }

    /* Hamburger Menu */
    label .menu {
      position: absolute;
      right: -100px;
      top: -100px;
      z-index: 100;
      width: 200px;
      height: 200px;
      background: white;
      border-radius: 50% 50% 50% 50%;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      box-shadow: 0 0 0 0 white, 0 0 0 0 white;
      cursor: pointer;
    }

    label .hamburger {
      position: absolute;
      top: 135px;
      left: 50px;
      width: 30px;
      height: 2px;
      background: #69D2e7;
      display: block;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
    }

    label .hamburger:after, label .hamburger:before {
      -webkit-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #69D2e7;
    }

    label .hamburger:before {
      top: -10px;
    }

    label .hamburger:after {
      bottom: -10px;
    }

    label input {
      display: none;
    }

    label input:checked + .menu {
      box-shadow: 0 0 0 100vw white, 0 0 0 100vh white;
      border-radius: 0;
    }

    label input:checked + .menu .hamburger {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    label input:checked + .menu .hamburger:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
    }

    label input:checked + .menu .hamburger::before {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      top: 0;
    }

    label input:checked + .menu + ul {
      opacity: 1;
    }

    .hamburgerInput:checked + .hamburgerItems {
      display: inline;
      background-color: blue;
    }

    label ul {
      z-index: 200;
      position: absolute;
      top: 230%;
      left: 50%;
      padding-left: 0;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      opacity: 0;
      -webkit-transition: .25s 0s ease-in-out;
      transition: .25s 0s ease-in-out;
      text-align: center;
    }

    label a {
      margin-bottom: 1em;
      display: block;
      color: #004e63;
      text-decoration: none;
      text-transform: uppercase;
      font-size: x-large;
    }

    label a:hover {
      color: #69D2e7;
    }

    label li span {
      color: #004e63;
      text-decoration: none;
      text-transform: uppercase;
      font-size: x-large;
    }

    label li span:hover {
      color: #69D2e7;
    }

  }
