nav {
    display: grid;
    background: #004e63;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 5px 12px 0px rgb(0 0 0 / 60%);
  }
  
  nav img {
    height: 80px;
    width: 80px;
    margin-left: 80px;
  }
  
  .navbar-links {
    justify-self: center;
    margin-top: 15px;
  }
  
  .navbar-links ul {
    display: flex;
    justify-content: space-around;
    gap: 30px;
  }
  
  .vl {
    border-left: 3px solid white;
  }
  
  li {
    list-style: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar-buttons {
    justify-self: end;
    margin-right: 20px;
  }
  
  button {
    width: 130px;
    height: 50px;
    border-radius: 30px;
    color: white;
    border: 3px solid white;
    background: #004e63;
    font-weight: bold;
  }

  .signup-button {
    margin-left: 8px;
  }
  
  button:hover, button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em;
    transform: translateY(-0.25em);
  }
  
  li:hover {
    box-shadow: 0 0.5em 0.5em -0.4em;
  }

  a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: white;
  }

  @media only screen and (max-width: 900px){
    nav {
      grid-template-columns: 200px auto auto;
    }

    nav img {
      margin-left: 40px;
    }

    .signup-button {
      margin-left: 0px;
    }
  }

  @media only screen and (max-width: 800px){
    nav {
      grid-template-columns: 180px auto auto;
    }

    .navbar-buttons {
      margin-right: none;
    }

    button {
      width: 85px;
      height: 45px;
      margin: 2px;
    }
  }

  @media only screen and (max-width: 720px){
    nav {
      grid-template-columns: 120px auto auto;
    }
  }

  @media only screen and (max-width: 525px){
    nav {
      grid-template-columns: 80px auto auto;
    }

    nav img {
      margin-left: 4px;
    }
  }