.event-detail-form {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.event-detail-form > div, .event-detail-form .label-date {
	display: flex;
	flex-direction: column;
}

div.guest-list {
	display: flex;
	flex-direction: column;
}

#links-table th {
	background-color: 037aff;
	color: black;
	font-weight: bold;
}

#links-table th, #links-table td {
	border-width: 1px;
}