.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgb(0,62,79);
    background: linear-gradient(138deg, rgba(0,62,79,1) 0%, rgba(0,78,99,1) 35%, rgba(0,105,134,1) 100%);
    color: white;
    text-align: center;
  }