form {
    margin: 10px;
    text-align: center;
}

input {
    border: 2px solid #004e63;
    border-radius: 4px;
}

select {
    border: 2px solid #004e63;
    border-radius: 4px;
    padding: 2px;
}

.label-date {
    margin-right: 4px;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.label-date:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.label-location {
    margin-left: 10px;
}

.input-location {
    margin-left: 4px;
}

.label-cuisine {
    margin-left: 10px;
}

.input-cuisine {
    margin-left: 4px;
}

#search-button {
    margin-left: 10px;
}