form {
    padding: 10px;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}

input {
    border: 2px solid #004e63;
    border-radius: 4px;
}

select {
    border: 2px solid #004e63;
    border-radius: 4px;
    padding: 2px;
}

.label-date {
    margin-right: 4px;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.label-date:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.label-location {
    margin-left: 10px;
}

.input-location {
    margin-left: 4px;
}

.label-cuisine {
    margin-left: 10px;
}

.input-cuisine {
    margin-left: 4px;
}

#search-button {
    margin-left: 10px;
}

/* Restaurant Cards Styling */

.restaurant-cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 90%;
    margin: 10px;
    border: 2px solid #004e63;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    padding: 5px;
    display: grid;
    grid-template-columns: 320px 1fr;
}

.card-img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.add-restaurant {
    float: right;
}

.address {
    margin-top: 30px;
    font-weight: 500;
}

.phoneLogo {
    height: 20px;
    width: auto;
    vertical-align: middle;
    margin-right: 2px;
}

.restaurant-phone {
    height: 28px;
    line-height: 28px;
}

.category {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid rgb(141, 141, 141);
    text-align: center;
}

.category:last-child {
    border-right: none;
}

.category:first-child {
    padding-left: none;
}

.categories {
    margin-top: 2px;
}

.restaurant-info {
    margin-top: 2px;
}

.telephone-link {
	color: black;
}

.telephone-link:hover {
	color: blue;
	text-decoration: underline;
}

.remove-restaurant {
	background: white;
	width: initial;
	height: initial;
}

.selected-restaurants li:hover {
	box-shadow: initial;
}
