.eventSearch {
    position: absolute;
    top: 15%;
    left: 50%;
    width: 90%;
    height: 77%;
    padding: 20px;
    transform: translate(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 90%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    grid-template-areas: 
        "form form"
        "checkOut cards";
}

form {
    grid-area: form;
    padding-bottom: 10px;
    text-align: center;
    position: sticky;
    top: 100px;
    z-index: 1;
}

input {
    border: 2px solid #004e63;
    border-radius: 4px;
}

select {
    border: 2px solid #004e63;
    border-radius: 4px;
    padding: 2px;
}

.label-date {
    margin-right: 4px;
}

/* Tooltip text */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: white;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.label-date:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.label-location {
    margin-left: 10px;
}

.input-location {
    margin-left: 4px;
}

.label-cuisine {
    margin-left: 10px;
}

.input-cuisine {
    margin-left: 4px;
}

#search-button {
    margin-left: 10px;
}

/* Restaurant Cards Styling */

.restaurant-cardContainer {
    grid-area: cards;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: scroll;
}

.card {
    width: 95%;
    margin: 10px;
    border: 2px solid #004e63;
    border-radius: 4px;
    box-shadow: 0px 0px 10px black;
    padding: 5px;
    display: grid;
    grid-template-columns: 270px 1fr;
    grid-template-areas: 
        "title title"
        "image info";
}

.titleSection {
    grid-area: title;
}

.imageSection {
    grid-area: image;
}

.infoSection {
    grid-area: info;
}

.card-img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.add-restaurant {
    position: absolute;
    right: 5px;
    top: 5px;
}

.address {
    font-weight: 500;
}

.phoneLogo {
    height: 20px;
    width: auto;
    vertical-align: middle;
    margin-right: 2px;
}

.restaurant-phone {
    height: 28px;
    line-height: 28px;
}

.category {
    padding-right: 5px;
    padding-left: 5px;
    border-right: 2px solid rgb(141, 141, 141);
    text-align: center;
}

.category:last-child {
    border-right: none;
}

.category:first-child {
    padding-left: none;
}

.categories {
    margin-top: 2px;
}

.restaurant-info {
    margin-top: 2px;
}

.telephone-link {
	color: black;
}

.telephone-link:hover {
	color: blue;
	text-decoration: underline;
}

.remove-restaurant {
	background: white;
	width: initial;
	height: initial;
}

.selected-restaurants li:hover {
	box-shadow: initial;
}

/* Structuring of the Restaraunt Checkout */
#eventCO {
    grid-area: checkOut;
}

#event-button {
    position: fixed;
    bottom: 3%;
    left: 20%;
}

.selected-restaurants {
    margin-top: 10px;
    overflow: auto;
    height: 86%;
}

/* Is Open Badge */

.open-now {
    position: absolute;
    top: 48px;
    left: 10px;
    background: #fec63d;
    text-align: center;
    border-radius: 8px;
    color:#004e63;
    padding: 4px;
    font-size: 16px;
    animation: pulse 2s infinite;    
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

#hoursInfo {
    margin-top: 3px;
}

@media only screen and (max-width: 800px){ 
    .eventSearch {
        display: inline;
    }

    .search-form input {
        display: inline;
    }

    .label-cuisine, #search-button {
        margin-top: 10px;
    }

    .restaurant-cardContainer {
        overflow-x: scroll;
        height: 85%;
    }

    #eventCO {
        display: none;
    }

    .card {
        grid-template-columns: 210px 1fr;
    }

    .imageSection img {
        width: 200px !important;
        height: 200px !important;
    }
}

@media only screen and (max-width: 559px){ 
    .label-location {
        margin-top: 10px;
    }
}