.registerPage {
    position: absolute;
    top: 50%;
    left:50%;
    width: 500px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: #004e63;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.please {
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
    border-radius: 0px;
}

.user-box label {
    position: absolute;
    width: auto;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s !important;
    overflow: visible;
}

.registerPage .user-box input:focus ~ label,
.registerPage .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: white;
  font-size: 12px;
}

.form-control:focus {
    color: white;
    background-color: transparent;
    border-color: white;
    outline: none;
    box-shadow: none;
}

.registerPage button {
    float: right;
    width: 170px;
}

#signupBlob {
    width: auto;
    height: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
}